@model ProductModel
@{
    ViewData["title"] = "Edit Product";
}
<h4>Eidt Product</h4>
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option>--Choose a category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Brand</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                <option>--Choose a Brand</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Image</label>

            <input asp-for="ImageUpload" class="form-control" />

            <span asp-validation-for="ImageUpload" class="text-danger" />
            <img src="~/media/products/@Model.Image" width="120" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>


    </form>
    <a asp-action="Index">Back to List Product</a>

</div>
@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Description");
    </script>
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode }, // Gửi dữ liệu đến server
                    success: function (result) {
                        // Xử lý khi cập nhật thành công
                        if (result.success) {
                            // Cập nhật UI hoặc hiển thị thông báo thành công
                            // console.log("Update successful");
                            Swal.fire("Cập nhật đơn hàng thành công");
                        } else {
                            // Xử lý lỗi
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Cập nhật đơn hành thất bại "
                            });

                        }
                    }
                });
            });
        });
    </script>
}

